@model IEnumerable<DigitalArtShowcase.Models.ArtworkDto>
@{
    ViewData["Title"] = "List";
}

<h1>Artworks</h1>

<p>
    <a asp-action="New">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artwork in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => artwork.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => artwork.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => artwork.CreationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => artwork.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => artwork.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@artwork.ArtworkId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@artwork.ArtworkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@artwork.ArtworkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
